@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    display: grid;
    margin: auto;
    cursor: url(../img/icons8-bee-30.png), auto;
    color: #fff;
    font-family: 'Lobster';
    background-color: bisque;
}

.form {
    display: grid;
    gap: 5px;
    padding: 2%;
    background-color: bisque;
}

.table {
    
    background-color: bisque;
}

.buttons {
    display: grid;
    margin: 2%;
    gap: 5px;
    background-color: bisque;
    padding: 5%;
    margin: 0;

}

button {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
}

button.btn {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
}

.navbar {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
}