@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    cursor: url(../img/icons8-bee-30.png), auto;
}
.container{
    display: flex;
    color: #fff;
    font-family: 'Lobster';
    
}
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}
.carousel-inner{
    height: auto;
   }

footer{
    width: 100%;
    height: auto;
}

.card mb-4{
    display: flex;
    
}
.card-img-top{
    margin-top: 7%;
    width: 40%;
    height: 70%;
}

button {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
    border-style: none;
    border-radius: 10px;
}
.navbar {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
}
footer {
    font-family: 'Lobster';
    background: #804000;
    color: #fff;
}
img.card-img-top {
    size: 0.5rem;
}
