.container{
    display: flex;
}
.carouselExampleCaptions{
    
}
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}
.carousel-inner{
    height: 600px;
   }

footer{
    width: 100%;
    height: auto;
}

.card mb-4{
    display: flex;
}
.card-img-top{
    margin-top: 7%;
    width: 40%;
    height: 70%;
}

